<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://s3.amazonaws.com/es6-promises/promise-1.0.0.min.js"></script>
    <script src="/js/slogin.js"></script>
</head>
    <body>
      <div>
        <a href="https://localhost:9393/login.php" onclick="">Sign in</a> or
        <a href="https://localhost:9393/login.php?action=create_account" onclick="">Create an account</a>
      </div>
    </body>
</html>
